:root {
  --font-primary: 'Inter', sans-serif;

  /* ========= CORES BASE ========= */
  --primary: #A4268E;
  --primary-light: #C85BB3;
  --primary-soft: #F3D4EC;
  --primary-dark: #7A1C69;

  /* ========= BACKGROUNDS ========= */
  --bg-main: #FFF1C3;
  --bg-soft: #FFF6D9;
  --bg-hover: #FFE8A3;
  --bg-white: #FFFFFF;

  /* ========= TEXTO ========= */
  --text-dark: #2A2A2A;
  --text-medium: #6B6B6B;
  --text-light: #9E9E9E;
  --color-grey: #333633;

  /* ========= BORDAS ========= */
  --border: #E5E5E5;
  --border-soft: #F0F0F0;

  /* ========= ESTADOS ========= */
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;

  /* ========= SOMBRAS ========= */
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.btn-primary{
    background: #A4268E !important;
    border-color: #A4268E !important;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

body {
    font-family: var(--font-primary);
    background: #F5F5F5;
}
p, .horous-day{
    color: var(--color-grey);
}
.small{
    font-size: 0.813rem !important;
}
.title-section-product{
    font-size: clamp(1.125rem, 2vw, 2rem);
    color: #A4268E;
}