:root {
  --font-primary: 'Inter', sans-serif;
  --color-grey: #333633;
}
.btn-primary{
    background: #A4268E !important;
    border-color: #A4268E !important;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

body {
    font-family: var(--font-primary);
    background: #F5F5F5;
}
p, .horous-day{
    color: var(--color-grey);
}
.small{
    font-size: 0.813rem !important;
}
.title-section-product{
    font-size: clamp(1.125rem, 2vw, 2rem);
    color: #A4268E;
}